{
  "Functions": [
    {
      "Name": "SUBSTRING",
      "Description": "Get the sub string of the given string",
      "Syntax": "SUBSTRING(expression ,start ,length)",
      "Parameters": [
        {
          "Name": "expression",
          "Type": "TEXT",
          "Description": "The column or value to get the sub string."
        },
		{
          "Name": "start",
          "Type": "NUMBER",
          "Description": "The start position."
        },
		{
          "Name": "length",
          "Type": "NUMBER",
          "Description": "The number of characters."
        }
      ],
      "ReturnType": "TEXT",
      "Mappings": [
        {
          "Id": "572BD576-8C92-4901-AB2A-B16E38144813",
          "DatasourceName": "[MSSQL] SQLServer",
          "FunctionName": "SUBSTRING",
          "FunctionQueryPattern": "SUBSTRING(expression ,start ,length)"
        }
      ]
    },
	{
      "Name": "LEFT",
      "Description": "Returns the left part of a character string with the specified number of characters.",
      "Syntax": "LEFT(character_expression , integer_expression)",
      "Parameters": [
        {
          "Name": "character_expression",
          "Type": "TEXT",
          "Description": "An expression of character or binary data."
        },
		{
          "Name": "integer_expression",
          "Type": "NUMBER",
          "Description": "A positive integer that specifies how many characters of the character_expression will be returned."
        }
      ],
      "ReturnType": "TEXT",
      "Mappings": [
        {
          "Id": "572BD576-8C92-4901-AB2A-B16E38144813",
          "DatasourceName": "[MSSQL] SQLServer",
          "FunctionName": "LEFT",
          "FunctionQueryPattern": "LEFT(character_expression , integer_expression)"
        }
      ]
    },
	{
      "Name": "RIGHT",
      "Description": "Returns the right part of a character string with the specified number of characters.",
      "Syntax": "RIGHT(character_expression , integer_expression)",
      "Parameters": [
        {
          "Name": "character_expression",
          "Type": "TEXT",
          "Description": "An expression of character or binary data."
        },
		{
          "Name": "integer_expression",
          "Type": "NUMBER",
          "Description": "A positive integer that specifies how many characters of the character_expression will be returned."
        }
      ],
      "ReturnType": "TEXT",
      "Mappings": [
        {
          "Id": "572BD576-8C92-4901-AB2A-B16E38144813",
          "DatasourceName": "[MSSQL] SQLServer",
          "FunctionName": "RIGHT",
          "FunctionQueryPattern": "RIGHT(character_expression , integer_expression)"
        }
      ]
    },
	{
      "Name": "REPLACE",
      "Description": "Replaces all occurrences of a specified string value with another string value.",
      "Syntax": "REPLACE(string_expression, string_pattern, string_replacement)",
      "Parameters": [
        {
          "Name": "string_expression",
          "Type": "TEXT",
          "Description": "The string expression to be searched."
        },
		{
          "Name": "string_pattern",
          "Type": "TEXT",
          "Description": "The substring to be found."
        },
		{
          "Name": "string_replacement",
          "Type": "TEXT",
          "Description": "The replacement string. "
        }
      ],
      "ReturnType": "TEXT",
      "Mappings": [
        {
          "Id": "572BD576-8C92-4901-AB2A-B16E38144813",
          "DatasourceName": "[MSSQL] SQLServer",
          "FunctionName": "REPLACE",
          "FunctionQueryPattern": "REPLACE(string_expression, string_pattern, string_replacement)"
        }
      ]
    },
	{
      "Name": "CHAR",
      "Description": "Converts an int ASCII code to a character.",
      "Syntax": "CHAR(integer_expression)",
      "Parameters": [
        {
          "Name": "integer_expression",
          "Type": "NUMBER",
          "Description": "An integer from 0 through 255."
        }
      ],
      "ReturnType": "TEXT",
      "Mappings": [
        {
          "Id": "572BD576-8C92-4901-AB2A-B16E38144813",
          "DatasourceName": "[MSSQL] SQLServer",
          "FunctionName": "CHAR",
          "FunctionQueryPattern": "CHAR(integer_expression)"
        }
      ]
    },
	{
      "Name": "RTRIM",
      "Description": "Returns a character string after truncating all trailing blanks.",
      "Syntax": "RTRIM(character_expression)",
      "Parameters": [
        {
          "Name": "character_expression",
          "Type": "TEXT",
          "Description": "An expression of character data."
        }
      ],
      "ReturnType": "TEXT",
      "Mappings": [
        {
          "Id": "572BD576-8C92-4901-AB2A-B16E38144813",
          "DatasourceName": "[MSSQL] SQLServer",
          "FunctionName": "RTRIM",
          "FunctionQueryPattern": "RTRIM(character_expression)"
        }
      ]
    },
	{
      "Name": "LTRIM",
      "Description": "Returns a character string after truncating all leading blanks.",
      "Syntax": "LTRIM(character_expression)",
      "Parameters": [
        {
          "Name": "character_expression",
          "Type": "TEXT",
          "Description": "An expression of character data."
        }
      ],
      "ReturnType": "TEXT",
      "Mappings": [
        {
          "Id": "572BD576-8C92-4901-AB2A-B16E38144813",
          "DatasourceName": "[MSSQL] SQLServer",
          "FunctionName": "LTRIM",
          "FunctionQueryPattern": "LTRIM(character_expression)"
        }
      ]
    }
  ]
}
